<div class="about">
  <div class="container">
    <div class="row">
    	<div class="col-sm-4">
      	<img src="http://christoffer-n.com/images/christoffer-picture.jpg" class="img-responsive">
      </div>
      <div class="col-sm-8">
        <h3>About me</h3>
        <p>My name is Christoffer Nygaard, a 31 years old man from Norway. I've more or less throughout my entire life been interested in music and IT related stuff, and it's therefore I spent a lot of time with both of these two things. I was interested in coding in HTML when I was younger, but I let it go after some time... but then when I started learning C programming in school I realised something, that I was a fool for having let go of this interest in my youth. It's just as fun to code HTML as it is to code in more traditional programming languages like C (and Javascript etc).</p>
        <p>So, thanks to the programming course in school, I'm back on track - trying to learn as much as I can in this enormous world of coding. I've been using Codecademy and FreeCodeCamp as help to get me back on track with these things and I think it's paid off fairly well so far.</p>
      </div>
    </div>
  </div>
</div>