<div class="contact">
  <div class="container">
    <h3 class="text-center">Contact me</h3>
    <div class="row text-center">
      <div class="col-sm-3">
        <a href="#" target="_blank"><img class="img-responsive" src="http://image.flaticon.com/icons/svg/34/34405.svg" alt="LinkedIn"></a>
      </div>
      <div class="col-sm-3">
        <a href="#" target="_blank"><img class="img-responsive" src="http://image.flaticon.com/icons/svg/9/9148.svg" alt="Twitter"></a>
      </div>
      <div class="col-sm-3">
        <a href="#" target="_blank"><img class="img-responsive" src="http://image.flaticon.com/icons/svg/95/95627.svg" alt="Email"></a>
      </div>
      <div class="col-sm-3">
        <a href="#" target="_blank"><img class="img-responsive" src="http://image.flaticon.com/icons/svg/25/25231.svg" alt="Github"></a>
      </div>
    </div>
  </div>
</div>