<div class="main2">
    <div class="banner">
      <ul>
        <li class="b1"></li>
        <li class="b2"></li>
        <li class="b3"></li>
      </ul>
    </div>
</div>

<div class="supporting">
	<div class="container">
  	<div class="row">
    	<div class="col-sm-6 text-center">
        <img src="http://www.christoffer-n.com/web-portfolio/img/projects/blackjack-front.png" class="img-responsive">
        <p>Blackjack (GUI)</p>
      </div>
      <div class="col-sm-6 text-center">
        <img src="http://www.christoffer-n.com/web-portfolio/img/projects/dahlefoto-front.png" class="img-responsive">
        <p>Dahle Foto</p>
      </div>
      <div class="col-sm-6 text-center">
      	<img src="http://www.christoffer-n.com/web-portfolio/img/projects/christoffer-n-front.png" class="img-responsive">
        <p>Personal Webpage</p>
      </div>
      <div class="col-sm-6 text-center">
        <img src="http://www.christoffer-n.com/images/projects/tictactoe-front.png" class="img-responsive">
        <p>Tic Tac Toe</p>
      </div>
      <div class="col-sm-6 text-center">
        
      </div>
      <div class="col-sm-6 text-center">
      	
      </div>
    </div>
  </div>
</div