<div class="header">
  <div class="container">
  	<h1>Christoffer Nygaard</h1>
  </div>
</div>

<div class="main">
  <div class="container">
    <h3>Webdesigner, Musician and a Self-proclaimed Programmer</h3>
    <a href="#" class="btn btn-primary">View my Work</a>
  </div>
</div>

<div class="footer">
  <div class="container">
    <a href="#"><img width="20px" src="http://image.flaticon.com/icons/svg/59/59439.svg"></a>
    <a href="#"><img width="20px" src="http://image.flaticon.com/icons/svg/34/34227.svg"></a>
    <a href="#"><img width="20px" src="http://image.flaticon.com/icons/svg/8/8800.svg"></a>
    <p class="pull-right">Christoffer Nygaard (2016)</p>
  </div>
</div>