<div class="main welcome">
  <div class="container">
    <h3>Webdesigner, Musician and a Self-proclaimed Programmer</h3>
    <p><%= link_to "View My Work", portfolio_path, :class => "btn btn-default pull-right" %></p>
  </div>
</div>